{% extends 'base.html' %}

{% block content %}
<h1><center>Driver Orders</center></h1>
<table class="table table-sm table-dark">
  <thead>
    <tr>
        <th scope="col">Start</th>
        <th scope="col">Destination</th>
        <th scope="col">Arrival Time</th>
        <th scope="col">Status</th>
        <th scope="col">Detail</th>
    </tr>
  </thead>
  <tbody>
    {% for instance in object_list %}
            <tr>
            <td>{{instance.startpoint}}</td>
            <td>{{instance.destination}}</td>
            <td>{{instance.requiredArrival}}</td>
            <td>{{instance.status}}</td>
            <td><a href='{{ instance.get_driver_absolute_url }}'>detail</a></td>
            </tr>
    {% endfor %}
  </tbody>
</table>

<a href="{% url 'orders:order-driver-allOrders' %}"><center>Find New Orders</center></a>
<a href="{% url 'orders:order-driver-detail' %}"><center>Profile Detail</center></a>
<a href="{% url 'orders:order-driver-update' %}"><center>Update Profile</center></a>

{% endblock %}