{% extends 'base.html' %}

{% block content %}

<form role="search" method="get" id="searchForm" action="{% url 'orders:order-sharer-lookup' %}">
	<input type="text" name="destination" placeholder="destination" required><br>
	<input type="text" name="earliestArrival" placeholder="Earliest Arrival Time" required><br>
	<input type="text" name="latestArrival" placeholder="Latest Arrival Time" required><br>
	<button type="search"><span class="ion-ios-search-strong"></span></button>
</form>

{% if post_list %}
<h2><center>Search Results</center></h2>
	<table class="table table-sm table-dark">
  <thead>
    <tr>
        <th scope="col">Start</th>
        <th scope="col">Destination</th>
        <th scope="col">Arrival Time</th>
        <th scope="col">Status</th>
        <th scope="col">Detail</th>
    </tr>
  </thead>
  <tbody>
  	{% for instance in post_list %}
			<tr>
            <td>{{instance.startpoint}}</td>
            <td>{{instance.destination}}</td>
            <td>{{instance.requiredArrival}}</td>
            <td>{{instance.status}}</td>
            <td><a href='{{ instance.get_sharer_absolute_url }}'>detail</a></td>
            </tr>
	{% endfor %}
  </tbody>
</table>
{% else %}
	<h1>No Such Order</h1><br>
{% endif %}

{% endblock %}