{% extends 'base.html' %}

{% block content %}

<h1><center>Order Information</center></h1>
<table class="table table-dark">
  <tbody>
    <tr>
      <th scope="row">Startpoint</th>
      <td>{{ object.startpoint }}</td>
    </tr>
    <tr>
      <th scope="row">Destination</th>
      <td>{{ object.destination }}</td>
    </tr>
    <tr>
      <th scope="row Time">Arrival Time</th>
      <td>{{ object.requiredArrival }}</td>
    </tr>
  <tr>
      <th scope="row">Passenger Amount</th>
      <td>{{ object.numPassengers }}</td>
  </tr>
  <tr>
      <th scope="row">Status</th>
      <td>{{ object.status }}</td>
  </tr>
  <tr>
      <th scope="row">Special Request</th>
      <td>{{ object.specialRequest }}</td>
  </tr>
  </tbody>
</table>

<a href="{% url 'orders:order-sharer-join' orderID%}"><center>Join this Order</center></a>

{% endblock %}
